.footer{
  width: 100vw;
  min-height: 12vh;
  display: flex;
  justify-content: center;
}
.footer p{
  margin: auto 10px;
  font-size:small ;
}
.footer p a {
  text-decoration: none;
  color: black;
  opacity: .8;
}